@font-face {
  font-family:abouteclipseheading;
  src: url('./assets/fonts/aAtmospheric.otf');
}
@font-face {
  font-family:AboutText;
  src: url('./assets/fonts/Poppins-Light.ttf');
}

/* ....................................................ABOUT SECTION...............................................................................................*/

*{
  margin:0rem;
  padding:0rem;
}
html{
  font-size: 62.5%;
  background-image: url('./assets/images/About Section/About_bgimg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

#AboutContainer{
  display: flex;
  flex-direction: column;
  width:100%;
  height: 100vh;
  /* background-image: url('./assets/images/About Section/About_bgimg.svg');
  background-size: cover; */
  /* background-position: 0rem -15.0rem; */
  background-repeat: no-repeat;
  /* justify-content: center; */
  /* align-items: center; */
}
#clouds{
  display: flex;
  flex-direction: row;
}
#clouds img{
  position: absolute;
  top:0rem;
  height: 16.5rem;
}
#left{
  left: 0rem;
  width: 66.0rem;
}
#middle{
  width: 240.0rem;
}
#right{
  right: 0rem;
  width: 70.0rem;
}
#AboutHeading{  
  color: white;
  font-size: 4.8rem;
  font-family: 'abouteclipseheading';
  margin-left: 5.0rem;
  margin-top: 3.0rem;
  z-index: 1;
  animation-name: slideRight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}
#TextContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  justify-content: space-evenly;
  margin-top: 3rem;
  height: 65.0rem;
  width: 90rem;
  background: linear-gradient(180.06deg, rgba(21, 38, 83, 0.6) 21.93%, rgba(137, 82, 32, 0.432) 99.95%);
  box-shadow: 0rem .4rem .4rem rgba(0, 0, 0, 0.25), 0rem .4rem .4rem rgba(0, 0, 0, 0.25), 0rem .4rem .4rem rgba(0, 0, 0, 0.25);
  border-top-right-radius: 5.7rem;
  border-bottom-right-radius: 5.7rem;
  padding: 3.0rem;
  line-height: 3.5rem;
  animation-name: slideRight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
  overflow: auto;
  /* overflow-y: auto; */
}
#VerticalSpan{
  height: 40.0rem;
  border-left: thick solid #AFAFAF;
  border-radius: 10.0rem;
  margin-right: 3.5rem;
  padding-top: 2rem;
  
}
#Text{
  font-family: 'AboutText';
  color: white;
  font-size: 2.5rem;
  animation-name: slideRight;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0.5s;
}

#button{
  margin-left: 57.0rem;
  margin-top: -25rem;
}
#KnowMe{
  display: block;
  background: linear-gradient(180deg, #AA6527 0%, rgba(0, 0, 0, 0.91) 100%);
  border-radius: 3.8rem;  
  color: white;
  margin-left: 30.0rem;
  font-size: 1.6rem;
  font-family: 'AboutText';
  font-weight: 600;
  padding: 0rem 2.8rem;
  line-height: 4.5rem;
}
/* @media (max-width:1744px){
  html{
    font-size: 55%;
  }
} */
@media (max-width:1530px){
  html{
    font-size: 45%;
  }
}
@media (max-width:1234px){
  html{
    font-size: 35%;
  }
}
@media (max-width:850px){
  html{
    font-size: 50%;
  }
}
@media (max-width:801px){
  html{
    font-size: 45%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
}
@media (max-width:713px){
  html{
    font-size: 40%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
  #AboutContainer{
    align-items: center;
  }
  #AboutHeading{
    margin-top: 10rem;
  }
  #TextContainer{
    /* display: flex; */
    /* margin: auto; */
    margin-top: 80px;
  }
}
@media (max-width:660px){
  html{
    font-size: 30%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
 #Text{
  margin-top: -20rem;
 }
  #TextContainer{
    /* display: flex; */
    /* margin: auto; */
    height: 100rem;
    padding: 2 rem;
    margin-top: 80px;
  }
}

@media (max-width:553px){
  html{
    font-size: 25%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
  #TextContainer{
    display: flex;
    /* margin: auto; */
    /* margin-top: 170px; */
  }

}

@media (max-width:450px){
  html{
    font-size: 20%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
  #Text{
    font-size: 13px;
  }
  #AboutHeading{
    /* margin-top: -100px; */
  }
  #TextContainer{
    display: flex;
    /* margin: auto; */
    margin-top: 50px;
    height: 140rem;
  }
  #AboutHeading{
    font-size: 20px;
    margin-top: 20rem;
  }
}
@media (max-width:415px){
  html{
    font-size: 25%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
  #Text{
    font-size: 13px;
    line-height: 18px;
  }
  #AboutHeading{
    /* margin-top: -100px; */
  }
  #TextContainer{
    display: flex;
    /* margin: auto; */
    margin-top: 50px;
    height: 155rem;
  }
  #AboutHeading{
    font-size: 20px;
    margin-top: 20rem;
  }
}
@media (max-width:400px){
  html{
    font-size: 20%;
    background-position: center center;
    /* background-size: contain; */
    background-attachment: fixed;
  }
  #AboutHeading{
    margin-top:30px;
  }
  #TextContainer{
    display: flex;
    height: 170rem;
    margin-top: 20px;
    margin: auto;
  }
  #Text{
    line-height: 14px;
    margin-top: -80px;

  }
}


/* @keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
} */

@keyframes slideRight {
    /* 0%{
      opacity: 0;
    } */
  from {
    transform: translateX(-80%);
  }
  to {
    transform: translateX(5 rem);
  }
}
/* ..................................................................ECLIPSE HEADING ANIMATION................................................................................................*/

#EclipseHeadingAnimation{
  animation: heading 1s;
  animation-delay: 2s;
}

@keyframes heading {
  0%{transform:translateY(300px);}
  25%{transform: translateY(-50px);}
  45%{transform: translateY(10px);}
  60%{transform: translateY(-10px);}
  75%{transform: translateY(2px);}
  90%{transform: translateY(-2px);}
}

/* .......................................................................................................................................................................... */
