* {
    overflow: auto;
}

@font-face {
    font-family:atmospheric;
    src: url('../../assets/fonts/aAtmospheric.otf');
  }

.sponsors-container{ 
    height: 100vh;
    width: 100vw;
    
}

.sponsors-container-bg{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #171717;

}

.sponsors-heading{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: top;
    margin-top: 60px;
    max-height: 100px;

}

.sponsors-heading > h1 {
    position: top;
    font-size: 60px;
    font-family: atmospheric;

}

.contact-heading{
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    justify-content: center;
    align-items: top;
    margin-top: 100px;
    max-height: 100px
}

.contact-heading > h1 {
    position: top;
    font-size: 60px;
    font-family: atmospheric;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 180px;

  }
  
.grid-item {
    width: 45%;
    height: 200px;
    margin: 10px;
    background-color: #2D2D2D;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media (max-width: 768px) {
    .grid-item {
      width: 80%;
    }
    .contact-form {
        width: 80%        
    }
    .sponsors-heading > h1 {
        font-size: 40px;
    }
    .contact-heading > h1 {
        font-size: 40px;
    }
    }
  

  .contact-form-bg{
    display: flex;
    margin: auto;
    width: 50%;
    margin-top: 200px; 
   background-color: #2D2D2D;
   align-items: center;
   justify-content: center;  
  }
  .contact-form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-right: 0%;
    margin-left: 0%;

}

  .contact-form > input {
    width: 50%;
    height: 25px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
  }
  .contact-form > textarea {
    width: 50%;
    height: 100px;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 10px;
  }
  .contact-form > button {
    width: 20%;
    height: 30px;
    margin: 10px;
    font-size: 15px;
    background-color: #2D2D2D;
    color: white;
    border-color: #CA9136;
border-width: 2px;
  } 
  
  